{% extends 'base_site.html' %}
{% load humanize %}

{% block header %}
<h1>Analytics</h1>
{% endblock %}

{% block content %}
<!-- Analytics content -->
<div class="row">
        <!-- Clients analytics -->
        <div id="clientsAnalytics">
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        Clientes frecuentes
                    </div>
                    <div class="content">
                        <div class="row">
                            <h6>En la última semana</h6>
                            <div class="table-responsive">
                                <table class="table table-analytics">
                                    <thead>
                                        <tr>
                                            <th>Cliente</th>
                                            <th>Número de órdenes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order_client in view.get_last_week_top_most_frequent_clients %}
                                        <tr>
                                            <td>{{ order_client.order_client }}</td>
                                            <td>{{ order_client.order_client__count|intcomma }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <h6>En el último mes</h6>
                            <div class="table-responsive">
                                <table class="table table-analytics">
                                    <thead>
                                        <tr>
                                            <th>Cliente</th>
                                            <th>Número de órdenes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order_client in view.get_last_month_top_most_frequent_clients %}
                                        <tr>
                                            <td>{{ order_client.order_client }}</td>
                                            <td>{{ order_client.order_client__count|intcomma }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <h6>En general</h6>
                            <div class="table-responsive">
                                <table class="table table-analytics">
                                    <thead>
                                        <tr>
                                            <th>Cliente</th>
                                            <th>Número de órdenes</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order_client in view.get_general_top_most_frequent_clients %}
                                        <tr>
                                            <td>{{ order_client.order_client }}</td>
                                            <td>{{ order_client.order_client__count|intcomma }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Processes analytics -->
        <div id="processesAnalytics">
            <!-- Most frequent asked processes -->
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        Procesos más pedidos
                    </div>
                    <div class="content">
                        <div class="row">
                            <h6>En la última semana</h6>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Proceso</th>
                                            <th>Número pedido</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for process in view.get_last_week_top_most_present_processes %}
                                        <tr>
                                            <td>{{ process.process_name }}</td>
                                            <td>{{ process.order_process__count|intcomma }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <h6>En el último mes</h6>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Proceso</th>
                                            <th>Número pedido</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for process in view.get_last_month_top_most_present_processes %}
                                        <tr>
                                            <td>{{ process.process_name }}</td>
                                            <td>{{ process.order_process__count|intcomma }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <h6>En general</h6>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Proceso</th>
                                            <th>Número pedido</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for process in view.get_general_top_most_present_processes %}
                                        <tr>
                                            <td>{{ process.process_name }}</td>
                                            <td>{{ process.order_process__count|intcomma }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
{% endblock %}
