{% extends 'base_site.html' %}
{% load humanize_extras %}

{% block header %}
    <h1>Detalle de máquina: {{ machine }}</h1>
{% endblock %}

{% block content %}
<!-- Order details -->
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="text-center">Orden</th>
                        <th class="text-center">Proceso</th>
                        <th class="text-center">Operario</th>
                        <th class="text-center">Duración</th>
                    </tr>
                </thead>
                <tbody>
                    {% for machine_order in machine_orders %}
                    <tr>
                        <td class="text-center">{{ machine_order.order.order_op_number }}</td>
                        <td class="text-center">{{ machine_order.process.process_name }}</td>
                        <td class="text-center">{{ machine_order.get_user_who_started_process }}</td>
                        <td class="text-center">{{ machine_order.get_duration|humanize_seconds }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<p><a class="btn btn-info btn-fill" href="{% url 'control_produccion:machines' %}">Ver listado de máquinas</a></p>
{% endblock %}
