{% extends 'base_site.html' %}

{% block header %}
<h1>Clientes</h1>
{% endblock %}

{% block content %}
{% if latest_order_list %}
<div class="row">
    <div class="col-md-12">
        <div class="input-group">
            <input type="text" class="form-control" id="searchBox" placeholder="Buscar por nombre de cliente..." onKeyDown="if(event.keyCode==13) searchInput();">
            <span class="input-group-btn">
                <button class="btn btn-info btn-fill" type="button" onclick="searchInput()">Buscar</button>
            </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<br>
<div class="panel panel-default">
    <table class="table table-striped table-hover table-condensed">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Número de Órdenes</th>
            </tr>
        </thead>
        <tbody>
            {% for order in latest_order_list %}
            <tr class="clientRow">
                <td class="clientCell">{{ order.order_client }}</td>
                <td>{{ order.order_client__count }}</td>
            </tr>
            {% endfor %}
        <tbody>
    </table>
</div>
{% else %}
<p>No hay clientes.</p>
{% endif %}
{% endblock %}

{% block jsfiles %}
<script>
    function searchInput() {
        var input = document.getElementById('searchBox').value;
        var rows = document.getElementsByClassName('clientRow');
        var clients = document.getElementsByClassName('clientCell');
        for (var i = 0; i < orders.length; i++) {
            if (clients[i].innerHTML.toLowerCase().indexOf(input.toLowerCase()) > -1) {
                rows[i].className = "clientRow";
            } else {
                if (!rows[i].classList.contains("hide") || !clients[i].classList.contains("hide")) {
                    rows[i].className += " hide";
                }
            }
        }

    }
</script>
{% endblock %}
